/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #fff;
  font-family: "Work Sans", sans-serif;
}
body .btn {
  border: none;
  background-color: #db251d;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  border-radius: 0.5rem;
  margin: 2rem;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
body .btn:hover {
  background-color: #e8554e;
  color: #fff;
}
body nav {
  width: 100%;
  height: 4rem;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  body nav {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
  }
}
body nav .search {
  width: 50%;
}
@media screen and (max-width: 768px) {
  body nav .search {
    width: 100%;
  }
}
body nav .search form {
  display: flex;
  justify-content: center;
  align-items: center;
}
body nav .search form .search-input {
  width: 50%;
  max-width: 500px;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  transition: all 0.5s ease;
}
@media screen and (max-width: 500px) {
  body nav .search form .search-input {
    width: 70%;
    margin: 0 0 0 0.5rem;
  }
}
body nav .search form .search-input::-moz-placeholder {
  color: #000;
  font-size: 1rem;
}
body nav .search form .search-input::placeholder {
  color: #000;
  font-size: 1rem;
}
body nav .search form .search-input:focus {
  border: none;
  outline: none;
  background-color: #e8554e;
}
body nav .search form .search-btn {
  height: 2.5rem;
  letter-spacing: 0.1rem;
  padding: 0.3rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
@media screen and (max-width: 500px) {
  body nav .search form .search-btn {
    margin: 2rem 0.5rem;
    letter-spacing: 0;
  }
}
body nav .search form .search-btn:hover {
  color: #fff;
}
body nav .navbar {
  width: 50%;
}
@media screen and (max-width: 768px) {
  body nav .navbar {
    width: 100%;
    padding: 0;
  }
}
body nav .navbar .dropdown {
  display: none;
}
@media screen and (max-width: 768px) {
  body nav .navbar .dropdown {
    display: block;
    width: 100%;
  }
  body nav .navbar .dropdown .btn {
    width: 100%;
    margin: 0;
    padding: auto;
    border-radius: 0;
  }
  body nav .navbar .dropdown .btn:focus {
    background-color: #e8554e;
  }
  body nav .navbar .dropdown .dropdown-menu {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
  }
  body nav .navbar .dropdown .dropdown-menu li {
    width: 100%;
    height: 4rem;
    color: #fff;
    background-color: #000;
  }
  body nav .navbar .dropdown .dropdown-menu li a {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000;
    transition: all 0.5s ease;
    border-bottom: 1px solid #db251d;
  }
  body nav .navbar .dropdown .dropdown-menu li a:hover {
    background-color: #e8554e;
  }
}
body nav .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  body nav .navbar ul {
    display: none;
  }
}
body nav .navbar ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 4rem;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s ease-out;
}
@media screen and (max-width: 1360px) {
  body nav .navbar ul li {
    width: 8rem;
  }
}
@media screen and (max-width: 1024px) {
  body nav .navbar ul li {
    font-size: 1rem;
    width: 7rem;
  }
}
@media screen and (max-width: 992px) {
  body nav .navbar ul li {
    font-size: 1rem;
    width: 6rem;
  }
}
body nav .navbar ul li:hover {
  background-color: #db251d;
}
body .section-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin: 4rem 0 2rem 0;
}
body .card {
  color: #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.3s ease;
}
body .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
body .card h2 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1rem;
}
body .card img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

header .hero-header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 590px;
  min-height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
header .hero-header .hero-header-content {
  width: 100%;
  height: 590px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
header .hero-header .hero-header-content h1 {
  font-size: 1.7rem;
  margin: 0.5rem;
  font-weight: 700;
}
header .hero-header .hero-header-content h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
header .hero-header .hero-header-content h3 {
  font-size: 4rem;
  margin: 7rem 0 5rem 0;
}
@media screen and (max-width: 768px) {
  header .hero-header .hero-header-content h3 {
    font-size: 3.5rem;
    margin: 5rem 0 3rem 0;
  }
}
@media screen and (max-width: 300px) {
  header .hero-header .hero-header-content h3 {
    font-size: 3rem;
  }
}
header .hero-header .hero-header-content h4 {
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  header .hero-header .hero-header-content h4 {
    font-size: 1.7rem;
  }
}

main .blog-categories {
  width: 100%;
  max-width: 1360px;
  margin: 2rem auto;
}
main .blog-categories .category-grid-container {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  main .blog-categories .category-grid-container {
    grid-template-columns: 1fr;
  }
}
main .blog-latest {
  width: 100%;
  max-width: 1360px;
  margin: 2rem auto;
}
main .blog-latest .news-grid-container {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
main .blog-latest .news-grid-container .card {
  cursor: pointer;
}
main .blog-latest .news-grid-container .card img {
  height: 200px;
}
main .blog-latest .news-grid-container .card p {
  font-size: 1rem;
  padding: 0 1rem 1rem 1rem;
}
main .blog-latest .news-grid-container .card p .read-more {
  color: #db251d;
  font-weight: 700;
}
main .blog-latest .news-grid-container .card p .read-more:hover {
  color: #e8554e;
}
@media screen and (max-width: 768px) {
  main .blog-latest .news-grid-container {
    grid-template-columns: 1fr;
  }
}
main .banner {
  background-color: #000;
  width: 100%;
  margin-top: 4rem;
}
main .banner .banner-grid-container {
  width: 100%;
  max-width: 1360px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
  padding: 1rem;
}
main .banner .banner-grid-container .banner-grid-item .banner-text {
  color: #fff;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
@media screen and (max-width: 992px) {
  main .banner .banner-grid-container .banner-grid-item .banner-text {
    font-size: 1rem;
  }
}
main .banner .banner-grid-container .banner-grid-item .banner-count {
  color: #f00;
  font-weight: 700;
  font-size: 2rem;
}
@media screen and (max-width: 500px) {
  main .banner .banner-grid-container .banner-grid-item .banner-count {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1360px) {
  main .banner .banner-grid-container lord-icon {
    width: 150px !important;
    height: 150px !important;
  }
}
@media screen and (max-width: 992px) {
  main .banner .banner-grid-container lord-icon {
    width: 100px !important;
    height: 100px !important;
  }
}
@media screen and (max-width: 500px) {
  main .banner .banner-grid-container {
    grid-template-columns: 1fr;
  }
}
main .quotes {
  width: 100%;
  max-width: 1360px;
  margin: 2rem auto;
  margin-bottom: 0;
  padding: 1rem;
}
main .quotes .main-quote {
  width: 100%;
  background-color: #e5e5e5;
  border-left: 0.5rem solid #db251d;
  font-size: 1.6rem;
  line-height: 4rem;
  font-style: italic;
  text-align: center;
  padding: 5rem 2rem 3rem;
}
@media screen and (max-width: 768px) {
  main .quotes .main-quote {
    line-height: 3rem;
    font-size: 1.2rem;
    padding: 3rem 2rem 2rem;
  }
}
main .quotes .main-quote span {
  color: #db251d;
  font-size: 5rem;
  font-weight: 900;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  main .quotes .main-quote span {
    font-size: 2.5rem;
  }
}
main .quotes .main-quote p {
  text-align: right;
  font-weight: 500;
}
main .quotes .photo-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
@media screen and (max-width: 768px) {
  main .quotes .photo-quote {
    flex-direction: column;
  }
}
main .quotes .photo-quote img {
  width: 50%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  main .quotes .photo-quote img {
    width: 100%;
  }
}
main .quotes .photo-quote hr {
  width: 0.7rem;
  height: 300px;
  transform: rotateX("90deg");
  background-color: #db251d;
  border: none;
  margin: 2rem;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  main .quotes .photo-quote hr {
    display: none;
  }
}
main .quotes .photo-quote ul {
  width: 50%;
}
@media screen and (max-width: 768px) {
  main .quotes .photo-quote ul {
    width: 100%;
    padding-top: 1rem;
  }
}
main .quotes .photo-quote ul li {
  font-size: 1.3rem;
  text-align: left;
  line-height: 4rem;
}
@media screen and (max-width: 1360px) {
  main .quotes .photo-quote ul li {
    line-height: 3rem;
  }
}
@media screen and (max-width: 500px) {
  main .quotes .photo-quote ul li {
    font-size: 1.1rem;
    line-height: 2rem;
  }
}
main .quotes .photo-quote ul li::first-letter {
  font-style: italic;
  font-size: 2rem;
  font-weight: 700;
  color: #db251d;
}
main .main-video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 410px;
}
@media screen and (max-width: 1360px) {
  main .main-video {
    height: 370px;
  }
}
@media screen and (max-width: 1360px) {
  main .main-video {
    height: 500px;
  }
}
main .main-video img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
}
main .main-video .cover {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
}
main .main-video .video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #fff;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  main .main-video .video-container {
    flex-direction: column;
  }
}
main .main-video .video-container p {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 1rem;
}
@media screen and (max-width: 1360px) {
  main .main-video .video-container p {
    font-size: 3.5rem;
    letter-spacing: 0.8rem;
  }
}
main .main-video .video-container iframe {
  padding: 2rem;
}
@media screen and (max-width: 1360px) {
  main .main-video .video-container iframe {
    width: 600px;
    height: 370px;
  }
}
@media screen and (max-width: 1024px) {
  main .main-video .video-container iframe {
    width: 570px;
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
  main .main-video .video-container iframe {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  main .main-video .video-container iframe {
    width: 100%;
    height: 250px;
  }
}/*# sourceMappingURL=global.css.map */