/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #fff;
  font-family: "Work Sans", sans-serif;
}
body .btn {
  border: none;
  background-color: #db251d;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  border-radius: 0.5rem;
  margin: 2rem;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
body .btn:hover {
  background-color: #e8554e;
  color: #fff;
}
body nav {
  width: 100%;
  height: 4rem;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  body nav {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
  }
}
body nav .search {
  width: 50%;
}
@media screen and (max-width: 768px) {
  body nav .search {
    width: 100%;
  }
}
body nav .search form {
  display: flex;
  justify-content: center;
  align-items: center;
}
body nav .search form .search-input {
  width: 50%;
  max-width: 500px;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  transition: all 0.5s ease;
}
@media screen and (max-width: 500px) {
  body nav .search form .search-input {
    width: 70%;
    margin: 0 0 0 0.5rem;
  }
}
body nav .search form .search-input::-moz-placeholder {
  color: #000;
  font-size: 1rem;
}
body nav .search form .search-input::placeholder {
  color: #000;
  font-size: 1rem;
}
body nav .search form .search-input:focus {
  border: none;
  outline: none;
  background-color: #e8554e;
}
body nav .search form .search-btn {
  height: 2.5rem;
  letter-spacing: 0.1rem;
  padding: 0.3rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
@media screen and (max-width: 500px) {
  body nav .search form .search-btn {
    margin: 2rem 0.5rem;
    letter-spacing: 0;
  }
}
body nav .search form .search-btn:hover {
  color: #fff;
}
body nav .navbar {
  width: 50%;
}
@media screen and (max-width: 768px) {
  body nav .navbar {
    width: 100%;
    padding: 0;
  }
}
body nav .navbar .dropdown {
  display: none;
}
@media screen and (max-width: 768px) {
  body nav .navbar .dropdown {
    display: block;
    width: 100%;
  }
  body nav .navbar .dropdown .btn {
    width: 100%;
    margin: 0;
    padding: auto;
    border-radius: 0;
  }
  body nav .navbar .dropdown .btn:focus {
    background-color: #e8554e;
  }
  body nav .navbar .dropdown .dropdown-menu {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
  }
  body nav .navbar .dropdown .dropdown-menu li {
    width: 100%;
    height: 4rem;
    color: #fff;
    background-color: #000;
  }
  body nav .navbar .dropdown .dropdown-menu li a {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000;
    transition: all 0.5s ease;
    border-bottom: 1px solid #db251d;
  }
  body nav .navbar .dropdown .dropdown-menu li a:hover {
    background-color: #e8554e;
  }
}
body nav .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  body nav .navbar ul {
    display: none;
  }
}
body nav .navbar ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 4rem;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s ease-out;
}
@media screen and (max-width: 1360px) {
  body nav .navbar ul li {
    width: 7.5rem;
  }
}
@media screen and (max-width: 1024px) {
  body nav .navbar ul li {
    font-size: 1rem;
    width: 7rem;
  }
}
@media screen and (max-width: 992px) {
  body nav .navbar ul li {
    font-size: 1rem;
    width: 5.5rem;
  }
}
body nav .navbar ul li:hover {
  background-color: #db251d;
}
body .section-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin: 4rem 0 2rem 0;
}
body .modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 1000;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
@media screen and (max-height: 660px) {
  body .modal {
    align-items: flex-start;
  }
}
body .modal.dark {
  background-color: rgba(0, 0, 0, 0.9);
}
body .modal .gallery-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1360px;
  height: 90vh;
  margin: 3rem auto;
  padding: 2rem;
}
@media (max-width: 1360px) {
  body .modal .gallery-modal-content {
    width: 80%;
  }
}
@media (max-width: 800px) {
  body .modal .gallery-modal-content {
    margin: 0.5rem auto;
  }
}
@media (max-width: 600px) {
  body .modal .gallery-modal-content {
    width: 95%;
  }
}
body .modal .gallery-modal-content .gallery-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
}
@media (max-width: 600px) {
  body .modal .gallery-modal-content .gallery-slider {
    gap: 0.5rem;
  }
}
body .modal .gallery-modal-content .gallery-slider img {
  width: 100%;
  max-width: 1200px;
  max-height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto 0;
}
@media (max-width: 600px) {
  body .modal .gallery-modal-content .gallery-slider img {
    height: 50vh;
  }
}
body .modal .gallery-modal-content .gallery-slider span a {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}
body .modal .gallery-modal-content .gallery-slider span a.next-button {
  padding-right: 1rem;
}
@media (max-width: 600px) {
  body .modal .gallery-modal-content .gallery-slider span a.next-button {
    padding-right: 0;
  }
}
body .modal .gallery-modal-content .gallery-slider span a:hover {
  color: #e8554e;
}
@media (max-width: 600px) {
  body .modal .gallery-modal-content .gallery-slider span a {
    font-size: 1.5rem;
  }
}
body .modal .gallery-modal-content .close {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}
body .modal .gallery-modal-content .close:hover {
  color: #e8554e;
}
body .modal .modal-content {
  background-color: #fff;
  padding: 1rem;
  border: none;
  width: 50%;
  height: auto;
  border-radius: 1rem;
}
@media screen and (max-width: 1360px) {
  body .modal .modal-content {
    width: 70%;
  }
}
@media screen and (max-width: 992px) {
  body .modal .modal-content {
    width: 90%;
  }
}
body .modal .modal-content .close {
  text-align: right;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
body .modal .modal-content .close:hover {
  color: #e8554e;
}
body .modal .modal-content img {
  width: 85%;
  height: 18rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 1rem 0;
  border-radius: 1rem;
  align-self: center;
}
@media screen and (max-width: 768px) {
  body .modal .modal-content img {
    width: 90%;
    height: 14rem;
  }
}
body .modal .modal-content h2 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
body .modal .modal-content ul {
  align-self: center;
  margin: 1rem;
}
@media screen and (max-width: 768px) {
  body .modal .modal-content ul {
    width: 80%;
  }
}
body .modal .modal-content ul li {
  list-style-type: disc;
  font-size: 1.1rem;
  line-height: 2rem;
}
@media screen and (max-width: 500px) {
  body .modal .modal-content ul li {
    font-size: 0.9rem;
  }
}
body .modal .modal-content ul li .price {
  font-weight: 500;
  color: #db251d;
}
body .card {
  color: #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.3s ease;
}
body .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
body .card h2 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1rem;
}
body .card img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .read-more,
body .go-back-link {
  margin-left: 0.5rem;
  color: #db251d;
  font-weight: 700;
  transition: all 0.2s ease;
}
body .read-more:hover,
body .go-back-link:hover {
  color: #f00;
}
body footer {
  width: 100%;
  padding: 1rem;
  font-size: 1.1rem;
  background-color: #000;
  color: #fff;
}
body footer .footer-info {
  width: 100%;
  max-width: 1360px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 768px) {
  body footer .footer-info {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
body footer .footer-info .footer-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (max-width: 1360px) {
  body footer .footer-info .footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
body footer .footer-info .footer-menu li {
  line-height: 2.3rem;
}
body footer .footer-info .footer-menu li a {
  color: #fff;
  transition: all 0.3s ease;
}
body footer .footer-info .footer-menu li a:hover {
  color: #e8554e;
}
body footer .footer-info .footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  body footer .footer-info .footer-contact {
    padding: 1rem;
  }
  body footer .footer-info .footer-contact p {
    line-height: 2rem;
  }
}
body footer .footer-info .footer-contact .btn {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 1.1rem;
}
body footer .footer-info .footer-contact .footer-social-media i {
  font-size: 1.7rem;
  padding: 0.5rem;
  color: #db251d;
  transition: all 0.3s ease;
}
body footer .footer-info .footer-contact .footer-social-media i:hover {
  color: #e8554e;
}
body footer .footer-info .footer-address {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: center;
}
@media screen and (max-width: 1360px) {
  body footer .footer-info .footer-address {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  body footer .footer-info .footer-address {
    padding: 1rem 0 0 0;
  }
}
body footer .footer-info .footer-address img {
  margin-top: 1rem;
  width: 320px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1360px) {
  body footer .footer-info .footer-address img {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  body footer .footer-info .footer-address img {
    height: 120px;
  }
}
body footer .rights {
  text-align: center;
}

header .hero-header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 590px;
  min-height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
header .hero-header .hero-header-content {
  width: 100%;
  height: 590px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
header .hero-header .hero-header-content h1 {
  font-size: 1.7rem;
  margin: 0.5rem;
  font-weight: 700;
}
header .hero-header .hero-header-content h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
header .hero-header .hero-header-content h3 {
  font-size: 4rem;
  margin: 7rem 0 5rem 0;
}
@media screen and (max-width: 768px) {
  header .hero-header .hero-header-content h3 {
    font-size: 3.5rem;
    margin: 5rem 0 3rem 0;
  }
}
@media screen and (max-width: 300px) {
  header .hero-header .hero-header-content h3 {
    font-size: 3rem;
  }
}
header .hero-header .hero-header-content h4 {
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  header .hero-header .hero-header-content h4 {
    font-size: 1.7rem;
  }
}

main .blog-categories {
  width: 100%;
  max-width: 1360px;
  margin: 2rem auto;
}
main .blog-categories .category-grid-container {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  main .blog-categories .category-grid-container {
    grid-template-columns: 1fr;
  }
}
main .blog-latest {
  width: 100%;
  max-width: 1360px;
  margin: 2rem auto;
}
main .blog-latest .news-grid-container {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
main .blog-latest .news-grid-container .card {
  cursor: pointer;
}
main .blog-latest .news-grid-container .card img {
  height: 200px;
}
main .blog-latest .news-grid-container .card p {
  font-size: 1rem;
  padding: 0 1rem 1rem 1rem;
}
@media screen and (max-width: 768px) {
  main .blog-latest .news-grid-container {
    grid-template-columns: 1fr;
  }
}
main .banner {
  background-color: #000;
  width: 100%;
  margin-top: 4rem;
}
main .banner .banner-grid-container {
  width: 100%;
  max-width: 1360px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
  padding: 1rem;
}
main .banner .banner-grid-container .banner-grid-item .banner-text {
  color: #fff;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
@media screen and (max-width: 992px) {
  main .banner .banner-grid-container .banner-grid-item .banner-text {
    font-size: 1rem;
  }
}
main .banner .banner-grid-container .banner-grid-item .banner-count {
  color: #f00;
  font-weight: 700;
  font-size: 2rem;
}
@media screen and (max-width: 500px) {
  main .banner .banner-grid-container .banner-grid-item .banner-count {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1360px) {
  main .banner .banner-grid-container lord-icon {
    width: 150px !important;
    height: 150px !important;
  }
}
@media screen and (max-width: 992px) {
  main .banner .banner-grid-container lord-icon {
    width: 100px !important;
    height: 100px !important;
  }
}
@media screen and (max-width: 500px) {
  main .banner .banner-grid-container {
    grid-template-columns: 1fr;
  }
}
main .quotes {
  width: 100%;
  max-width: 1360px;
  margin: 2rem auto;
  margin-bottom: 0;
  padding: 1rem;
}
main .quotes .main-quote {
  width: 100%;
  background-color: #e5e5e5;
  border-left: 0.5rem solid #db251d;
  font-size: 1.6rem;
  line-height: 4rem;
  font-style: italic;
  text-align: center;
  padding: 5rem 2rem 3rem;
}
@media screen and (max-width: 768px) {
  main .quotes .main-quote {
    line-height: 3rem;
    font-size: 1.2rem;
    padding: 3rem 2rem 2rem;
  }
}
main .quotes .main-quote span {
  color: #db251d;
  font-size: 5rem;
  font-weight: 900;
  padding: 2rem;
}
@media screen and (max-width: 768px) {
  main .quotes .main-quote span {
    font-size: 2.5rem;
  }
}
main .quotes .main-quote p {
  text-align: right;
  font-weight: 500;
}
main .quotes .photo-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
@media screen and (max-width: 768px) {
  main .quotes .photo-quote {
    flex-direction: column;
  }
}
main .quotes .photo-quote img {
  width: 50%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  main .quotes .photo-quote img {
    width: 100%;
  }
}
main .quotes .photo-quote hr {
  width: 0.7rem;
  height: 300px;
  transform: rotateX("90deg");
  background-color: #db251d;
  border: none;
  margin: 2rem;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  main .quotes .photo-quote hr {
    display: none;
  }
}
main .quotes .photo-quote ul {
  width: 50%;
}
@media screen and (max-width: 768px) {
  main .quotes .photo-quote ul {
    width: 100%;
    padding-top: 1rem;
  }
}
main .quotes .photo-quote ul li {
  font-size: 1.3rem;
  text-align: left;
  line-height: 4rem;
}
@media screen and (max-width: 1360px) {
  main .quotes .photo-quote ul li {
    line-height: 3rem;
  }
}
@media screen and (max-width: 500px) {
  main .quotes .photo-quote ul li {
    font-size: 1.1rem;
    line-height: 2rem;
  }
}
main .quotes .photo-quote ul li::first-letter {
  font-style: italic;
  font-size: 2rem;
  font-weight: 700;
  color: #db251d;
}
main .main-video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 410px;
}
@media screen and (max-width: 1360px) {
  main .main-video {
    height: 370px;
  }
}
@media screen and (max-width: 1360px) {
  main .main-video {
    height: 500px;
  }
}
main .main-video img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
}
main .main-video .cover {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
}
main .main-video .video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #fff;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  main .main-video .video-container {
    flex-direction: column;
  }
}
main .main-video .video-container p {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 1rem;
}
@media screen and (max-width: 1360px) {
  main .main-video .video-container p {
    font-size: 3.5rem;
    letter-spacing: 0.8rem;
  }
}
main .main-video .video-container .video {
  width: 50%;
  max-width: 700px;
  height: auto;
  padding: 2rem;
}
@media screen and (max-width: 1360px) {
  main .main-video .video-container .video {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  main .main-video .video-container .video {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  main .main-video .video-container .video {
    width: 100%;
  }
}

main .about-us-header {
  width: 100%;
  max-width: 1360px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  text-align: center;
}
main .about-us-header .section-heading {
  margin-top: 0;
}
main .about-us-header img {
  width: 60%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}
@media screen and (max-width: 768px) {
  main .about-us-header img {
    width: 100%;
  }
}
main .about-us-header h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #db251d;
  padding: 0.5rem;
}
main .about-us-header h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  padding: 0.5rem;
}
main .about-us-header p {
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.5rem;
  padding: 0.5rem;
}
main .about-us-workers {
  width: 100%;
  max-width: 1360px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin-top: 2rem;
}
@media screen and (max-width: 992px) {
  main .about-us-workers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
  }
}
main .about-us-workers .about-us-workers-card {
  width: 350px;
  background-color: #000;
  color: #fff;
  padding: 2.5rem 0.5rem;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  transition: all 0.5s ease-out;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 1360px) {
  main .about-us-workers .about-us-workers-card {
    width: 320px;
  }
}
@media screen and (max-width: 1024px) {
  main .about-us-workers .about-us-workers-card {
    width: 300px;
  }
}
@media screen and (max-width: 400px) {
  main .about-us-workers .about-us-workers-card {
    width: 100%;
  }
}
main .about-us-workers .about-us-workers-card:hover {
  background-color: #db251d;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.7);
}
main .about-us-workers .about-us-workers-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 2rem;
}
main .about-us-workers .about-us-workers-card h4 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
}
main .about-us-workers .about-us-workers-card p {
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
}
main .join-us {
  width: 100%;
  max-width: 1360px;
  margin: 2rem auto;
  text-align: center;
}
main .join-us h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  padding: 0.5rem;
}
main .join-us a {
  color: #fff;
}

main .gallery {
  width: 100%;
  background-color: #000;
  padding-bottom: 2rem;
}
main .gallery .section-heading {
  margin-top: 0;
  padding-top: 2rem;
  color: #fff;
}
main .gallery .gallery-wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  place-items: center;
}
@media screen and (max-width: 1360px) {
  main .gallery .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 0 3rem;
  }
}
@media screen and (max-width: 1360px) {
  main .gallery .gallery-wrapper {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 768px) {
  main .gallery .gallery-wrapper {
    grid-template-columns: 1fr;
  }
}
main .gallery .gallery-wrapper a {
  width: 400px;
  height: 250px;
  border-radius: 0.5rem;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  main .gallery .gallery-wrapper a {
    width: 350px;
    height: 220px;
  }
}
@media screen and (max-width: 768px) {
  main .gallery .gallery-wrapper a {
    width: 80%;
    height: 250px;
  }
}
@media screen and (max-width: 500px) {
  main .gallery .gallery-wrapper a {
    width: 100%;
    height: 220px;
  }
}
main .gallery .gallery-wrapper a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .gallery .gallery-wrapper a img:hover {
  transform: scale(1.1);
  transition: all 0.5s linear;
}

main .contact-container {
  width: 100%;
  max-width: 1360px;
  margin: 2rem auto;
  text-align: center;
  padding: 0 1rem;
}
main .contact-container .section-heading {
  margin-top: 0;
}
main .contact-container p {
  margin-bottom: 2rem;
}
main .contact-container .contact {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 4rem;
}
@media screen and (max-width: 1400px) {
  main .contact-container .contact {
    height: 550px;
  }
}
@media screen and (max-width: 768px) {
  main .contact-container .contact {
    flex-direction: column;
    height: auto;
  }
}
main .contact-container .contact .contact-info {
  width: 60%;
  height: 100%;
  padding: 3rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  color: #fff;
}
@media screen and (max-width: 768px) {
  main .contact-container .contact .contact-info {
    height: 420px;
    width: 100%;
  }
}
main .contact-container .contact .contact-info h3 {
  font-size: 1.8rem;
  font-weight: 500;
}
main .contact-container .contact .contact-info .contact-main-info .info-group {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 1rem;
}
main .contact-container .contact .contact-info .contact-main-info .info-group p {
  font-size: 1.1rem;
  margin: 1.5rem 0.5rem;
  text-align: left;
}
@media screen and (max-width: 1360px) {
  main .contact-container .contact .contact-info .contact-main-info .info-group p {
    font-size: 1rem;
  }
}
main .contact-container .contact .contact-info .social-media-links i {
  font-size: 2rem;
  margin: 0 1rem;
  color: #fff;
  transition: all 0.3s ease;
}
main .contact-container .contact .contact-info .social-media-links i:hover {
  color: #e8554e;
}
main .contact-container .contact form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
@media screen and (max-width: 500px) {
  main .contact-container .contact form {
    padding: 2rem;
  }
}
main .contact-container .contact form .form-group {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1080px) {
  main .contact-container .contact form .form-group {
    flex-direction: column;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  main .contact-container .contact form .form-group {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  main .contact-container .contact form .form-group {
    width: 100%;
  }
}
main .contact-container .contact form input,
main .contact-container .contact form textarea {
  width: 300px;
  height: 50px;
  border: none;
  border-bottom: 1px solid #db251d;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1360px) {
  main .contact-container .contact form input,
  main .contact-container .contact form textarea {
    width: 280px;
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  main .contact-container .contact form input,
  main .contact-container .contact form textarea {
    width: 100%;
  }
}
main .contact-container .contact form input:hover,
main .contact-container .contact form textarea:hover {
  background-color: #e5e5e5;
  border-radius: 0.5rem;
}
main .contact-container .contact form input:focus,
main .contact-container .contact form textarea:focus {
  background-color: #db251d;
  outline: none;
  border-radius: 0.5rem;
}
main .contact-container .contact form input:focus::-moz-placeholder, main .contact-container .contact form textarea:focus::-moz-placeholder {
  color: #fff;
}
main .contact-container .contact form input:focus::placeholder,
main .contact-container .contact form textarea:focus::placeholder {
  color: #fff;
}
main .contact-container .contact form textarea {
  height: auto;
}
@media screen and (max-width: 1080px) {
  main .contact-container .contact form textarea {
    height: 120px;
  }
}
@media screen and (max-width: 768px) {
  main .contact-container .contact form textarea {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  main .contact-container .contact form textarea {
    width: 100%;
  }
}
main .contact-container .contact form .btn {
  margin: 2rem;
  border: none;
}
main .contact-container .contact form .btn:hover {
  background-color: #e8554e;
  color: #fff;
}
@media screen and (max-width: 1080px) {
  main .contact-container .contact form .btn {
    width: 200px;
  }
}

.posts-container {
  width: 100%;
  max-width: 1360px;
  margin: 2rem auto;
  padding: 0 2rem;
}
@media screen and (max-width: 500px) {
  .posts-container {
    padding: 0 1rem;
  }
}
.posts-container .section-heading {
  margin-top: 0;
}
.posts-container .post {
  width: 90%;
  display: flex;
  padding-right: 1rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  overflow: hidden;
  margin: 2rem auto;
}
@media screen and (max-width: 1024px) {
  .posts-container .post {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .posts-container .post {
    flex-direction: column;
    padding-right: 0;
  }
}
.posts-container .post img {
  width: 20rem;
  height: 16rem;
  padding-right: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1400px) {
  .posts-container .post img {
    width: 18rem;
    height: 14rem;
  }
}
@media screen and (max-width: 1024px) {
  .posts-container .post img {
    width: 16rem;
  }
}
@media screen and (max-width: 768px) {
  .posts-container .post img {
    width: 100%;
    padding-right: 0;
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 500px) {
  .posts-container .post img {
    height: 15rem;
  }
}
.posts-container .post .post-details {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
}
@media screen and (max-width: 1400px) {
  .posts-container .post .post-details {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .posts-container .post .post-details {
    height: 12rem;
  }
}
@media screen and (max-width: 500px) {
  .posts-container .post .post-details {
    height: 15rem;
  }
}
@media screen and (max-width: 300px) {
  .posts-container .post .post-details {
    height: auto;
  }
}
.posts-container .post .post-details .post-head h2 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
}
@media screen and (max-width: 500px) {
  .posts-container .post .post-details .post-head h2 {
    font-size: 1.2rem;
  }
}
.posts-container .post .post-details .post-head .author {
  font-style: italic;
  padding-bottom: 0.8rem;
}
.posts-container .post .post-details .content {
  font-size: 1.1rem;
  line-height: 1.5rem;
}
@media screen and (max-width: 1400px) {
  .posts-container .post .post-details .content {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}
@media screen and (max-width: 992px) {
  .posts-container .post .post-details .content {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
}

.full-post {
  padding: 0 1rem;
}
.full-post .go-back {
  font-size: 1.1rem;
  font-weight: 500;
}
.full-post h2 {
  padding-top: 1rem;
}
@media screen and (max-width: 500px) {
  .full-post h2 {
    font-size: 1.7rem;
  }
}
.full-post .full-post-content {
  min-height: 60vh;
}
@media screen and (max-width: 768px) {
  .full-post .full-post-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}
.full-post .full-post-content img {
  float: left;
  width: 40%;
  height: 20rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  margin: 0 2rem 0.5rem 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .full-post .full-post-content img {
    height: 16rem;
  }
}
@media screen and (max-width: 768px) {
  .full-post .full-post-content img {
    width: 100%;
    margin: 1rem;
  }
}
.full-post .full-post-content .full-post-text .author {
  text-align: right;
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.full-post .full-post-content .full-post-text .content {
  font-size: 1.1rem;
  line-height: 1.5rem;
}/*# sourceMappingURL=global.css.map */