.posts-container {
  @include section_width();
  padding: 1rem;

  .post {
    width: 100%;
    display: flex;
    padding-right: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem;
    overflow: hidden;

    img {
      width: 20rem;
      height: 15rem;
      padding-right: 1rem;
      object-fit: cover;
    }

    .post-details {
      padding: 1rem;
      @include display_flex(space-around, left);
      flex-direction: column;
    }
  }
}
