body {
  background-color: $white-color;
  font-family: "Work Sans", sans-serif;

  .btn {
    border: none;
    background-color: $primary-color;
    padding: 1rem 2rem;
    color: $white-color;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    border-radius: 0.5rem;
    margin: 2rem;
    transition: all 0.3s ease-out;
    cursor: pointer;

    &:hover {
      background-color: $primary-color-hover;
      color: $white-color;
    }
  }

  nav {
    width: 100%;
    height: 4rem;
    background-color: $black-color;
    @include display_flex();

    @media screen and (max-width: 768px) {
      flex-direction: column;
      height: fit-content;
    }

    .search {
      width: 50%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      form {
        @include display_flex();

        .search-input {
          width: 50%;
          max-width: 500px;
          height: 2.5rem;
          border: none;
          border-radius: 0.5rem;
          padding: 0.5rem 1rem;
          font-size: 1.2rem;
          transition: all 0.5s ease;

          @media screen and (max-width: 500px) {
            width: 70%;
            margin: 0 0 0 0.5rem;
          }

          &::placeholder {
            color: $black-color;
            font-size: 1rem;
          }

          &:focus {
            border: none;
            outline: none;
            background-color: $primary-color-hover;
          }
        }

        .search-btn {
          height: 2.5rem;
          letter-spacing: 0.1rem;
          padding: 0.3rem 1rem;
          font-size: 1.2rem;
          font-weight: 500;

          @media screen and (max-width: 500px) {
            margin: 2rem 0.5rem;
            letter-spacing: 0;
          }

          &:hover {
            color: $white-color;
          }
        }
      }
    }

    .navbar {
      width: 50%;

      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0;
      }

      .dropdown {
        display: none;

        @media screen and (max-width: 768px) {
          display: block;
          width: 100%;

          .btn {
            width: 100%;
            margin: 0;
            padding: auto;
            border-radius: 0;

            &:focus {
              background-color: $primary-color-hover;
            }
          }

          .dropdown-menu {
            width: 100%;
            padding: 0;
            margin: 0;
            border: none;

            li {
              width: 100%;
              height: 4rem;
              color: $white-color;
              background-color: $black-color;

              a {
                @include display_flex(left);
                width: 100%;
                height: 100%;
                color: $white-color;
                background-color: $black-color;
                transition: all 0.5s ease;
                border-bottom: 1px solid $primary-color;

                &:hover {
                  background-color: $primary-color-hover;
                }
              }
            }
          }
        }
      }

      ul {
        @include display_flex();

        @media screen and (max-width: 768px) {
          display: none;
        }

        li {
          @include display_flex();
          width: 10rem;
          height: 4rem;
          color: $white-color;
          font-size: 1.2rem;
          transition: all 0.5s ease-out;

          @media screen and (max-width: 1360px) {
            width: 8rem;
          }

          @media screen and (max-width: 1024px) {
            font-size: 1rem;
            width: 7rem;
          }

          @media screen and (max-width: 992px) {
            font-size: 1rem;
            width: 6rem;
          }

          &:hover {
            background-color: $primary-color;
          }
        }
      }
    }
  }

  .section-heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin: 4rem 0 2rem 0;
  }

  .modal {
    position: fixed;
    @include display_flex();
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    z-index: 1000;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    @media screen and (max-height: 660px) {
      align-items: flex-start;
    }

    .modal-content {
      background-color: $white-color;
      padding: 1rem;
      border: none;
      width: 50%;
      height: auto;
      border-radius: 1rem;

      @media screen and (max-width: 1360px) {
        width: 70%;
      }

      @media screen and (max-width: 992px) {
        width: 90%;
      }

      .close {
        text-align: right;
        font-size: 1.5rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          color: $primary-color-hover;
        }
      }

      img {
        width: 85%;
        height: 18rem;
        object-fit: cover;
        margin: 1rem 0;
        border-radius: 1rem;
        align-self: center;

        @media screen and (max-width: 768px) {
          width: 90%;
          height: 14rem;
        }
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
      }

      ul {
        align-self: center;
        margin: 1rem;

        @media screen and (max-width: 768px) {
          width: 80%;
        }

        li {
          list-style-type: disc;
          font-size: 1.1rem;
          line-height: 2rem;

          @media screen and (max-width: 500px) {
            font-size: 0.9rem;
          }

          .price {
            font-weight: 500;
            color: $primary-color;
          }
        }
      }
    }
  }

  .card {
    color: #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
      padding: 1rem;
    }

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }

  .read-more,
  .go-back-link {
    margin-left: 0.5rem;
    color: $primary-color;
    font-weight: 700;
    transition: all 0.2s ease;

    &:hover {
      color: $red-color;
    }
  }

  footer {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    background-color: $black-color;
    color: $white-color;

    .footer-info {
      @include section_width();
      @include disply_grid();

      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        text-align: center;
      }

      .footer-menu {
        @include display_flex(null, flex-start);
        flex-direction: column;

        @media screen and (max-width: 1360px) {
          @include display_flex();
        }

        li {
          line-height: 2.3rem;

          a {
            color: $white-color;
            transition: all 0.3s ease;

            &:hover {
              color: $primary-color-hover;
            }
          }
        }
      }

      .footer-contact {
        @include display_flex(space-between);
        flex-direction: column;

        @media screen and (max-width: 768px) {
          padding: 1rem;

          p {
            line-height: 2rem;
          }
        }

        .btn {
          padding: 0.5rem 1rem;
          margin: 0.5rem;
          font-size: 1.1rem;
        }

        .footer-social-media {
          i {
            font-size: 1.7rem;
            padding: 0.5rem;
            color: $primary-color;
            transition: all 0.3s ease;

            &:hover {
              color: $primary-color-hover;
            }
          }
        }
      }

      .footer-address {
        @include display_flex(null, flex-end);
        flex-direction: column;
        text-align: center;

        @media screen and (max-width: 1360px) {
          @include display_flex();
        }

        @media screen and (max-width: 768px) {
          padding: 1rem 0 0 0;
        }

        img {
          margin-top: 1rem;
          width: 320px;
          height: 150px;
          object-fit: cover;

          @media screen and (max-width: 1360px) {
            width: 80%;
          }

          @media screen and (max-width: 500px) {
            height: 120px;
          }
        }
      }
    }

    .rights {
      text-align: center;
    }
  }
}
